div#header {
    background-color:#eeeeee;
}
div#menu {
    background-color:#eeeeee;height:520px;width:200px;float:left;border:1px solid menu
}
div#footer {
    background-color:#eeeeee;clear:both;text-align:center;
}
h1 {
    margin-bottom:0;
}
h2 {
    margin-bottom:0;font-size:18px;
}
ul {
    margin:0;
}
li {
    list-style:none;
}
input#groupname{
    width:100px;
}