div#overDiv label{
    vertical-align:middle;
}
label:hover{
    color:#777777;
}
label{
    color:#000000;
    font-size:20px;
}
#menu h2{
    font-size:20px;
}
.enter_effect{
   border:2px solid buttonface;
   background-color:#556677;
   outline-color:blue
}
