{% extends "base.html" %}
{% block title %} Group {% endblock %}

{% block page_content %}

<script src="/javascript/jquery-1.8.3.min.js"></script>
<script src="/javascript/underscore.min.js"></script>


<body>
  <div class="container">
    <div class="row">
      <!------------>
      <div class="col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">群组</h3>
          </div>
          <ul class="list-group">
            {% for group in all_group %}
            <li class="list-group-item">
              <h4><label>组名: </label>{{group.groupname}}</h4>
              <h5><label>群组描述:</label>{{group.describe}}</h5>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!------------>
    </div>
  </div>


</body>

{% endblock %}
