{% extends "base.html" %}
{% block title %} Group {% endblock %}

{% block page_content %}

<script src="/javascript/jquery-1.8.3.min.js"></script>
<script src="/javascript/underscore.min.js"></script>


<body>
  <div class="container">
    <div class="row">
      <!------------>
      <div class="col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">title</h3>
          </div>
          <div class="panel-body">
            panel-body
          </div>
          <div class="panel-footer">
            panel-body
          </div>
        </div>
      </div>
      <!------------>
    </div>
  </div>


</body>

{% endblock %}
