{% extends "base.html" %}
{% block title %} Group {% endblock %}

{% block page_content %}

<script src="/javascript/jquery-1.8.3.min.js"></script>
<script src="/javascript/underscore.min.js"></script>
<script src="/javascript/discover.js"></script>


<body>
  <div class="container">
    <div class="row">
      <!------------>
      <div class="col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">群组</h3>
          </div>
          <ul class="list-group">
            {% for group in all_group %}
                {% if group.imin==1 %}
                    <li class="list-group-item">
                    <h4><label>组名: </label>{{group.groupname}} </h4>
                    <h5><label>群组描述:</label>{{group.describe}}</h5>
                    <h5><label>已加入&nbsp;&nbsp;&nbsp;</label><a data-id="{{group.id}}" class="exit" href="#">退出</a></h5>
                    </li>
                {% elif group.wait==1 %}
                    <li class="list-group-item">
                    <h4><label>组名: </label>{{group.groupname}} </h4>
                    <h5><label>群组描述:</label>{{group.describe}}</h5>
                    <h5><label>已申请</label></h5>
                    </li>
                {% elif group.jointype==2 %}
                    <li class="list-group-item">
                    <h4><label>组名: </label>{{group.groupname}} </h4>
                    <h5><label>群组描述:</label>{{group.describe}}</h5>
                    <h5><label>加入方式:</label>申请加入&nbsp;&nbsp;&nbsp;<a data-id="{{group.id}}" class="join" href="#">申请</a></h5>
                    </li>
                {% elif group.jointype==3 %}
                    <li class="list-group-item">
                    <h4><label>组名: </label>{{group.groupname}} </h4>
                    <h5><label>群组描述:</label>{{group.describe}}</h5>
                    <h5><label>加入方式:</label>自由加入&nbsp;&nbsp;&nbsp;<a data-id="{{group.id}}" class="join" href="#">加入</a></h5>
                    </li>
                {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <!------------>
    </div>
  </div>


</body>

{% endblock %}
