{% extends "base.html" %}
{% block title %} User Info {% endblock %}

{% block page_content %}

<html>
<head>
	<style>
		.divbox{width:100px;height:60px;background:#ccc;position:absolute;left:50%;top:50%;margin-left:-250px;margin-top:-150px;}
	</style>
</head>
<script src="{{ url_for('static', filename='javascript/jquery-1.8.3.min.js') }}"></script>
<body>
	<div class="divbox">
		为了之后能向您提醒您的日程，请您验证您的邮箱
		<br/>
		<input type="submit" value="点此验证邮箱"  onclick="checkemail()">
	</div>
<script>
function checkemail(){
	window.open("http://www.mail."+request.QueryString ("email").substring(request.QueryString ("email").indexOf("@")));
}
</script>
</body>
</html>
{% endblock %}
