{% extends "base.html" %}
{% block page_content %}

<link rel="stylesheet" type="text/css" href="ourplan.css" />
<link rel="stylesheet" type="text/css" href="/css/task.css" />
<script src="/javascript/jquery-1.8.3.min.js"></script>
<script src="/javascript/overlib.js"></script>
<script src="/javascript/task.js"></script>
<script src="/javascript/group_calendar.js"></script>
<script src="/javascript/monthtask.js"></script>
<script src="/javascript/underscore.min.js"></script>

<script src="{{ url_for('static', filename='javascript/weather.js') }}" language="javascript" type="text/javascript" charset="UTF-8"></script>

<script>
  var user_data={{user_data|tojson}};
  var user_task_data={{task_data|tojson}};
  
  
  var group_data={{group_data|tojson}};
  var group_task_data={{group_task_data|tojson}};
  
  var task_data={{task_data|tojson}};
  
  var selected_data={
      groupid:undefined,
      view_type:"week",
      set task_data(val){
      task_data=val
      }
  }
</script>


<body>

<div id="menu">
  <div class="panel panel-default">
    <div class="panel-heading">
	  <h2 class="panel-title">{{user_data.username}} 's 个人日程表</h2>
    </div>
    <div class="panel-body">
	  <ul>
		<li><label><input name="CalendarGroup" type="radio" value="" />个人 </label></li>
	  </ul>
    </div>
<!------------------>
    <div class="panel-heading">
	  <h2 class="panel-title">{{user_data.username}} 's 群组日程表</h2>
    </div>
    <div class="panel-body">
	  <ul>
        {% for group in group_data%}
		<li><label data-id="{{group.groupid}}"><input name="CalendarGroup" type="radio" value="" />{{group.groupname}}</label></li>
        {% endfor %}
	  </ul>
    </div>
  </div>
</div>
<script>
findWeather();
</script>




<div class="panel panel-default">
  <div class="panel-body">
    <span id="weather"></span>
    <div id="content">
	  <div id="wTableContainer"><script src="/javascript/table.mw.js"></script></div> 

    </div>
  </div>
</div>

<!--- 
<div id="wTableContainer"><script src="/javascript/table.week.js"></script></div> 
	<div id="mTableContainer"><script src="/javascript/table.month.js"></script></div> 

	<div id="wTableContainer">hahah 1</div> 
	<div id="mTableContainer">hahah 2</div> 
>
<!--->

</body>

{% endblock %}
