{% extends "homebase.html" %}
{% block task_content %}

<link rel="stylesheet" type="text/css" href="ourplan.css" />
<link rel="stylesheet" type="text/css" href="/css/task.css" />

<script src="{{ url_for('static', filename='javascript/weather.js') }}" language="javascript" type="text/javascript" charset="UTF-8"></script>

<script>
  
  var selected_data={
      groupid:{{selected_groupid|default("undefined")}},
      view_type:"week",
      set task_data(val){
      task_data=val
      }
  }
</script>



<div id="menu" >
  <div class="panel panel-default">
    <div class="panel-heading">
	  <h2 class="panel-title">{{user_data.username}} 的个人日程表</h2>
    </div>
    <div class="panel-body">
	  <ul>
		<li><label class="group user"><input name="CalendarGroup" type="radio" value="" />个人 </label></li>
	  </ul>
    </div>
<!------------------>
    <div class="panel-heading">
	  <h2 class="panel-title">{{user_data.username}} 的群组日程表</h2>
    </div>
    <div class="panel-body">
	  <ul>
        {% for group in group_data%}
		<li><label class="group" data-id="{{group.groupid}}"><input name="CalendarGroup" type="radio" value="" />{{group.groupname}}</label></li>
        {% endfor %}
	  </ul>
    </div>
  </div>
</div>
<script>
findWeather();
$(document).ready(function(){
    if(!selected_data.groupid){
        $("label.user.group").click();
    }else{
        var selected_groupid=selected_data.groupid;
        if(group_task_data[selected_groupid]){
            $("label.group[data-id="+selected_data.groupid+"]").click();
        }else{
            $("label.user.group").click();
        }
    }
});
</script>




<div class="panel panel-default">
  <div class="panel-body">
    <span id="weather"></span>
    <div id="content" style="overflow:auto">
	  <div id="wTableContainer"><script src="/javascript/table.mw.js"></script></div> 
	  
    </div>
  </div>
</div>

<!--- 
<div id="wTableContainer"><script src="/javascript/table.week.js"></script></div> 
	<div id="mTableContainer"><script src="/javascript/table.month.js"></script></div> 

	<div id="wTableContainer">hahah 1</div> 
	<div id="mTableContainer">hahah 2</div> 
>
<!--->


{% endblock %}
