{% extends "base.html" %}
{% block page_content %}

<label>{{content}}</label>
<link rel="stylesheet" type="text/css" href="ourplan.css" />
<link rel="stylesheet" type="text/css" href="/css/task.css" />
<script src="/javascript/jquery-1.8.3.min.js"></script>
<script src="/javascript/overlib.js"></script>
<script src="/javascript/task.js"></script>
<script src="/javascript/monthtask.js"></script>
<script src="/javascript/underscore.min.js"></script>
<script>
  var user_data={{user_data|tojson}};
  var task_data={{task_data|tojson}};
</script>


<body>

<div id="menu">
	<h2>Menu</h2>
	<ul>
		<li>item 1</li>
		<li>item 2</li>
		<li>item 3</li>
	</ul>
	<h2>Alice's Calendar</h2>
	<form action="" method="get">
	<ul>
		<li><label><input name="CalendarGroup" type="checkbox" value="" />个人 </label></li>
		<li><label><input name="CalendarGroup" type="checkbox" value="" />组1 </label></li>
		<li><label><input name="CalendarGroup" type="checkbox" value="" />组2 </label></li>
	</ul>
	</form>
</div>

<div id="content">
	<div id="wTableContainer"><script src="/javascript/table.mw.js"></script></div> 

</div>

<!--- 
<div id="wTableContainer"><script src="/javascript/table.week.js"></script></div> 
	<div id="mTableContainer"><script src="/javascript/table.month.js"></script></div> 

	<div id="wTableContainer">hahah 1</div> 
	<div id="mTableContainer">hahah 2</div> 
>
<!--->

</body>

{% endblock %}
