{% extends "base.html" %}
{% block title %} Group {% endblock %}

{% block page_content %}

<link rel="stylesheet" type="text/css" href="/css/group.css" />
<link rel="stylesheet" type="text/css" href="/css/task.css" />
<script src="/javascript/jquery-1.8.3.min.js"></script>
<script src="/javascript/overlib.js"></script>
<script src="/javascript/group.js"></script>
<script src="/javascript/underscore.min.js"></script>
<script>
  var group_data={{group_data|tojson}};
  var group_each_data={};
  var selected_data={
  groupid:undefined,
  group:undefined
  }
</script>


<body>

<div id="menu">
  <div class="panel panel-default">
    <div class="panel-heading">
	  <h2 class="panel-title">所在群组</h2>
    </div>
    <div class="panel-body">
	  <ul id="group">
		<li><label><input name="CalendarGroup" type="radio" value="" />组1 </label></li>
	  </ul>
    </div>
  </div>
    
  <div class="panel panel-default">
    <div class="panel-heading">
	  <h2>新建群组</h2>
    </div>
    <div class="panel-body">
      <input id="groupname" />
      <button class="btn-default" id="addgroup">Add</button>
    </div>
  </div>
</div>

<!------------------------------------------------------------->
<div id="content">
  <ul id="myTab" class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#property">属性</a>
    </li>
    <li>
      <a data-toggle="tab" href="#member">成员管理</a>
    </li>
    <li>
      <a data-toggle="tab" href="#applymember">申请</a>
    </li>
  </ul>
  <!--------------------------------------->
  <!--------------------------------------->
  <!--------------------------------------->
  <!--------------------------------------->
  <div id="myTabContent" class="tab-content">
    <!--------------------------------------->
    <div class="tab-pane fade in active" id="property">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">群组属性</h2>
        </div>
        <div >
          <ul class="list-group">
            <li class="list-group-item" >
              <div class="input-group">
              <span class="input-group-addon">
                加入方式:
              </span>
              <a id="groupjointype" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-jointype="3">用户自由加入</a>
              <ul class="dropdown-menu" role="menu">
                <li class="jointypeselect" data-jointype="1"><a>仅限小组成员手动添加</a></li>
                <li class="jointypeselect" data-jointype="2"><a>允许申请加入</a></li>
                <li class="jointypeselect" data-jointype="3"><a>用户自由加入</a></li>
              </ul>
              </div>
            </li>
            <li class="list-group-item" >
              <div class="input-group">
                <span class="input-group-addon">
                 群组简介:
                </span>
                <input id="groupdescribe" type="text" class="form-control">
              </div>
            </li>
            <li class="list-group-item" id="grouptag">
              <div class="input-group">
                <span class="input-group-addon">
                  标签:
                </span>
                <div id="taglist">
                  <button type="button" class="btn btn-info">tag1 
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                  <button type="button" class="btn btn-info">tag2 
                    <span class="glyphicon glyphicon-remove"></span>
                  </button>
                  <input id="tagaddinput" type="text" style="width:100px">
                    <a href="#" id="tagaddclick">添加</a>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <form id="propertysubmitform" method="POST">
                <input name="groupid" type="hidden">
                <input name="jointype" type="hidden">
                <input name="tag" type="hidden">
                <input name="describe" type="hidden">
              <button id="propertysubmit" type="submit" class="btn btn-warning" onclick="return group_property_util.submit()">提交
              </button>
              </form>
            </li>
          </ul>
        </div>
        <div class="panel-body">
        </div>
      </div>
    </div>
    <!--------------------------------------->
    <div class="tab-pane fade" id="member">
      <div id="groupmember" class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">群组成员</h2>
        </div>
        <div class="panel-body">
          <ul id="memberlist">
          </ul>
        </div>
      </div>
      <div id="friend" class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">查找用户</h2>
        </div>
        <div class="panel-body">
          <ul>
            <input id="finduser"></input>
          </ul>
          <ul id="userlist">
          </ul>
        </div>
      </div>
    </div>
    <!--------------------------------------->
    <div class="tab-pane fade" id="applymember">
      <div id="groupapplymember" class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">申请列表</h2>
        </div>
        <div class="panel-body">
          <ul id="applymemberlist">
          </ul>
        </div>
      </div>
    </div>
    <!--------------------------------------->
  </div>

</div>

<!--- 
<div id="wTableContainer"><script src="/javascript/table.week.js"></script></div> 
	<div id="mTableContainer"><script src="/javascript/table.month.js"></script></div> 

	<div id="wTableContainer">hahah 1</div> 
	<div id="mTableContainer">hahah 2</div> 
>
<!--->

</body>

{% endblock %}
