{% extends "base.html" %}
{% block title %} Vote {% endblock %}

{% block page_content %}

<link rel="stylesheet" type="text/css" href="/css/group.css" />
<link rel="stylesheet" type="text/css" href="/css/task.css" />
<script src="/javascript/jquery-1.8.3.min.js"></script>
<script src="/javascript/overlib.js"></script>
<script src="/javascript/vote.js" charset="UTF-8"></script>
<script src="/javascript/underscore.min.js"></script>

<!--------------------------------->
<link href="/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="/datetimepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<!--------------------------------->
<script>
  var group_data={{group_data|tojson}};
  var vote_data={{vote_data|tojson}};
  var vote_undo_data={{vote_undo_data|tojson}};
  var selected_data={
  groupid:undefined
  }
</script>

<body>

<!---------------------------------------------------------->
  <ul id="myTab" class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#dovote">投票</a>
    </li>
    <li>
      <a data-toggle="tab" href="#addvote">新建投票</a>
    </li>
    <li>
      <a data-toggle="tab" href="#readvote">所有投票</a>
    </li>
  </ul>
<!---------------------------------------------------------->
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="dovote">
      {% for vote in vote_undo_data %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{loop.index}}. {{ vote.title }} --- {{vote.limit}}</h3>
        </div>
        <div class="panel-heading">
          {{ vote.info }}
        </div>
        <ul class="list-group">
          {% for option in vote.options %}
          <li class="list-group-item"><input name="optionchoose" type="radio" value="{{option.id}}">{{option.option_datetime}} --- {{option.count}}</li>
          {% endfor %}
        </ul>
        <div class="panel-footer">
          <input name="dovoteid" type="hidden" value="{{vote.id}}">
          <button type="button" class="btn btn-info dovote">提交
          </button>
        </div>
      </div>
      {% endfor %}
    </div>
<!------------------------------------------------>

    <div class="tab-pane fade" id="addvote">

      <!-------------------------->
      <!--------------------->
      <div id="vote" class="panel panel-default">
        <div class="panel-heading">
          <!--------------->
          <div class="row">
            <div class="col-xs-3">
              <div class="input-group">
                <span class="input-group-addon">
                  标题:
                </span>
                <input id="votetitle" type="text" class="form-control">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="input-group">
                <span class="input-group-addon">
                  预期人数:
                </span>
                <input id="votelimit" type="text" class="form-control" onkeydown="onlyNum()" style="ime-mode:Disabled">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="input-group">
                <span class="input-group-addon">
                  活动时间(小时):
                </span>
                <input id="voteduration" type="text" class="form-control" onkeydown="onlyNum()" style="ime-mode:Disabled">
              </div>
            </div>
            <div class="col-xs-3">
              <div class="input-group">
                <span class="input-group-addon">
                  Group:
                </span>
                <a id="selectedgroup" href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">select<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% for group in group_data%}
                  <li class="groupselect" data-groupid="{{group.groupid}}" data-groupname="{{group.groupname}}">
                    <a>{{group.groupname}}</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <!--------------->
          <div class="row">
            <div class="col-xs-12">
              <div class="input-group">
                <span class="input-group-addon">
                  内容:
                </span>
                <input id="voteinfo" type="text" class="form-control">
              </div>
            </div>
          </div>
          <!--------------->
        </div>
        <div id="optionlist" class="list-group">
          <a id="option1" href="#" class="list-group-item">
            <div class="input-group date form_datetime">
              <span class="input-group-addon">1</span>
              <input class="form-control" size="10" type="text" value="" readonly>
              <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
			  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
          </a>
        </div>
        <div>
          <p>
            <button id="addoption" type="button" class="btn btn-block">
              添加日期选项
            </button>
          </p>
        </div>
        <div class="panel-footer">
          <form id="votesubmitform" method="POST">
            <input name="groupid" type="hidden">
            <input name="title" type="hidden">
            <input name="info" type="hidden">
            <input name="limit" type="hidden">
            <input name="options" type="hidden">
            <button id="votesubmit" type="submit" class="btn btn-warning" onclick="return vote_util.add_vote_submit()">提交
            </button>
          </form>
        </div>
      </div>
      <!--------------------->
    </div>
      <!-------------------------->
      
      <!------------------------------------------------>
      <div class="tab-pane fade" id="readvote">
        {% for vote in vote_data %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{loop.index}}. {{ vote.title }} --- {{vote.limit}}
              {% if vote.finished=="True" %}
              finished
              {% endif %}
            </h3>
          </div>
          <div class="panel-heading">
            {{ vote.info }}
          </div>
          <ul class="list-group">
            {% for option in vote.options %}
            <li class="list-group-item">{{option.option_datetime}} --- {{option.count}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </div>
      <!------------------------------------------------>
<!------------------------------------------------>
  </div>
    
<!---------------------------------------------------------->
<script>
    $('.form_datetime').datetimepicker({
        weekStart: 1,
        format: 'yyyy-mm-dd hh:ii',
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
</script>

<!--- 
<div id="wTableContainer"><script src="/javascript/table.week.js"></script></div> 
	<div id="mTableContainer"><script src="/javascript/table.month.js"></script></div> 

	<div id="wTableContainer">hahah 1</div> 
	<div id="mTableContainer">hahah 2</div> 
>
-->

</body>

{% endblock %}
