{% extends "base.html" %}
{% block title %} Vote {% endblock %}

{% block page_content %}

<link rel="stylesheet" type="text/css" href="/css/group.css" />
<link rel="stylesheet" type="text/css" href="/css/task.css" />
<script src="/javascript/jquery-1.8.3.min.js"></script>
<script src="/javascript/overlib.js"></script>
<script src="/javascript/vote.js" charset="UTF-8"></script>
<script src="/javascript/underscore.min.js"></script>

<!--------------------------------->
<link href="/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="/datetimepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<!--------------------------------->
<script>
  var group_data={{group_data|tojson}};
  var selected_data={
  groupid:undefined
  }
</script>

<body>

<!---------------------------------------------------------->
  <ul id="myTab" class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#dovote">Vote</a>
    </li>
    <li>
      <a data-toggle="tab" href="#addvote">Add Vote</a>
    </li>
  </ul>
<!---------------------------------------------------------->
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="dovote">
      fdsfsd
    </div>
<!------------------------------------------------>
    <div class="tab-pane fade" id="addvote">
      <!-------------------------->
    <div id="menu">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Group</h2>
        </div>
        <div class="list-group">
          <ul id="group">
            {% for group in group_data%}
            <li>
              <label data-groupid="{{group.groupid}}" data-groupname="{{group.groupname}}">
                <input class="groupselect" name="groupselect" type="radio"/>
                {{group.groupname}}
              </label>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>


    </div>
      <!-------------------------->
    <div id="content">
      <!--------------------->
      <div id="vote" class="panel panel-default">
        <div class="panel-heading">
          <div class="input-group">
            <span class="input-group-addon">
              标题:
            </span>
            <input type="text" class="form-control">
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              内容:
            </span>
            <input type="text" class="form-control">
          </div>
        </div>
        <div id="optionlist" class="list-group">
          <a id="option1" href="#" class="list-group-item">
            <div class="input-group date form_datetime">
              <span class="input-group-addon">1</span>
              <input class="form-control" size="10" type="text" value="" readonly>
              <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
			  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
          </a>
        </div>
        <div>
          <p>
            <button id="addoption" type="button" class="btn btn-block">
              添加日期选项
            </button>
          </p>
        </div>
      </div>
      <!--------------------->
    </div>
      <!-------------------------->
<!------------------------------------------------>
  </div>
<!---------------------------------------------------------->
<script>
    $('.form_datetime').datetimepicker({
        weekStart: 1,
        format: 'yyyy-mm-dd hh:ii',
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
</script>

<!--- 
<div id="wTableContainer"><script src="/javascript/table.week.js"></script></div> 
	<div id="mTableContainer"><script src="/javascript/table.month.js"></script></div> 

	<div id="wTableContainer">hahah 1</div> 
	<div id="mTableContainer">hahah 2</div> 
>
-->

</body>

{% endblock %}
